{% extends 'base.html.twig' %}

{% block title %}
    Détails d'un souhait - {{ wish.title }}
{% endblock %}

{% block body %}
    <h1>{{ wish.title }}</h1>
    <p>[{{ wish.category.name }}]</p>
    <p><em>Created by {{ wish.author }} on {{ wish.dateCreated | date("Y-m-d") }}</em></p>
    <p>{{ wish.description }}</p>
    <a href="{{ path('wish_update', {id: wish.id}) }}"><button>Modifier</button></a>
    <a href="{{ path('wish_delete', {id: wish.id}) }}"><button>Supprimer</button></a>
{% endblock %}
