{% extends 'base.html.twig' %}

{% block title %}
    Détails d'un souhait - {{ wish.title }}
{% endblock %}

{% block body %}
    <h1>{{ wish.title }}</h1>
    <p><em>Created by {{ wish.author }} on {{ wish.dateCreated | date("Y-m-d") }}</em></p>
    <p>{{ wish.description }}</p>
{% endblock %}
