<header>
    <div>
        <img
            class="header-logo"
            src="{{ asset('images/logo.svg') }}"
            alt="Logo de Bucket-List"
        >
        <p>Bucket List</p>
    </div>
    <nav>
        <ul>
            <a href="{{ path("main_home") }}"><li>Home</li></a>
            <a href="{{ path("main_about-us") }}"><li>A propos</li></a>
            <a href="{{ path("wish_list") }}"><li>Liste des souhaits</li></a>
            {% if app.user %}
                <a href="{{ path("wish_create") }}"><li>Ajouter un souhait</li></a>
                <a href="{{ path("app_logout") }}"><li>Se déconnecter</li></a>
                <li><strong>Hello {{ app.user.username }}</strong></li>
            {% else %}
                <a href="{{ path("app_login") }}"><li>Se connecter</li></a>
                <a href="{{ path("app_register") }}"><li>Créer un compte</li></a>
            {% endif %}
        </ul>
    </nav>
</header>
