<header>
    <div>
        <img
            class="header-logo"
            src="{{ asset('images/logo.svg') }}"
            alt="Logo de Bucket-List"
        >
        <p>Bucket List</p>
    </div>
    <nav>
        <ul>
            <a href="{{ path("main_home") }}"><li>Home</li></a>
            <a href="{{ path("main_about-us") }}"><li>A propos</li></a>
            <a href="{{ path("wish_list") }}"><li>Liste des souhaits</li></a>
            <a href="{{ path("wish_create") }}"><li>Ajouter un souhait</li></a>
        </ul>
    </nav>
</header>
